= form_tag login_path, class: 'login-form' do
  = hidden_field_tag :redirect_path, redirect: request.referrer
  .form__field
    = label_tag :username
    = text_field_tag :username, nil, autofocus: true
  .form__field
    = label_tag :password
    = password_field_tag :password
  .form__actions
    = button_tag 'Log In', class: 'button button--blank'
