.blogs-list__summary
  .blogs-list__summary--title
    = page.blog_title_link(blog)
  .blogs-list__summary--timestamp
    = page.blog_timestamp(blog)
  .blogs-list__summary--preview
    = blog.preview
    = page.read_more_button(blog)
  - if authenticated?
    .blogs-list__summary--actions
      = page.edit_blog_button(blog)
      = page.delete_blog_button(blog)
