= form.render_form do |f|
  = form.render_errors(f)

  .form__field
    = f.label :title
    = f.text_field :title, autofocus: true
  .form__field
    = f.label :summary
    = f.text_field :summary
  .form__field
    = f.label :slug
    = f.text_field :slug
  .form__field
    = f.label :body
    ~ f.text_area :body
  .form__actions
    = f.submit 'Save', class: 'button button--blank'
    - if f.object.draft?
      = f.submit 'Publish', class: 'button button--success'
