<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page.blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.preview %></td>
        <td><%= @page.show_blog_button(blog) %></td>
        <td><%= @page.edit_blog_button(blog) %></td>
        <td><%= @page.delete_blog_button(blog) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= @page.new_blog_button %>
