<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.full_body %>
</p>

<%= @page.edit_blog_button %> |
<%= @page.back_button %>
