.blog
  %h1.blog__title= @page.title
  %p.blog__summary= @page.preview
  .blog__body
    ~ @page.full_body
  .blog__timestamp= @page.timestamp
  .blog__actions
    - if authenticated?
      = @page.edit_blog_button
      |
    = @page.back_button
