= form.render_form do |f|
  = form.render_errors(f)

  .form__field
    = f.label :name
    = f.text_field :name, autofocus: true
  .form__field
    = f.label :phone_number
    = f.phone_field :phone_number
  .form__actions
    = f.submit 'Save', class: 'button button--blank'
