%tr.table-row
  %td.ping__body-preview= ping.message_preview
  %td.ping__algorithm= ping.algorithm
  %td.ping__next-ping-at= ping.formatted_next_ping.presence || "-"
  %td.table-cell__actions
    = list.link_to_edit(ping)
    |
    = list.link_to_delete(ping)
