<!DOCTYPE html>
<html>
<head>
  <title>Mo Zhu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% unless Rails.env.production? %>
    <div class='env-banner env-banner--<%=Rails.env %>'>
      ~* /// <%= Rails.env %> \\\ *~
    </div>
  <% end %>

  <div class="main-body">
    <%= yield %>
  </div>

  <% if authenticated? %>
    <%= render 'shared/logout_button' %>
  <% end %>

</body>
</html>
